<%= link_to costume_path(costume) do %>
    <div class="costume-card-small" style="background-image: url(<%= rails_blob_url(costume.photo) %>);"></div>
    <div class="costume-card-infos">
      <p style="font-weight: normal;"><%= costume.costume_name %></p>
      <p style="font-size: 16px;">£<%= costume.formatted_price %> per day</p>
    </div>
<% end %>
