<%= link_to costume_path(costume) do %>
  <div class="card card-costume mb-3 shadow-sm">
    <% if costume.photo.attached? %>
      <%= cl_image_tag costume.photo.key, height: 300, width: 200, crop: :fill %>
    <% else %>
      <%= image_tag "nme.jpg", height: 300, width: 200 %>
    <% end %>
    <div class="card-body">
      <div class="card-text">
        <p><%= costume.costume_name%></p>
      </div>
    </div>
  </div>
<% end %>
