<div class="container mt-3">
  <h2 class="mb-4">Costumes</h2>
  <div class="row">
    <% @costumes.each do |costume| %>
      <div class="col-md-3">
        <%= render "costume-card", costume: costume %>
      </div>
    <% end %>
  </div>
</div>
