// Specific CSS for your home-page

body {
  padding: 0;
  margin: 0;
  // background-color: var(--light-text-color);
  overflow-x: hidden;
  background-color: white;
}

.min-height {
  min-height: calc(100vh - 220px);
}


.bg {
  height: 100vh;
}

.jumbotron {
  // padding-top: 146px;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  background-color: black;
  margin-bottom: 0px;
}

#jumboContainer {
  margin: auto;
  width: 70%;
  top: 200px;
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jumbotron .container {
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
}

.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}


.lead-div {
  display: flex;
  flex-direction: row;
  text-align: center;
}

#be {
  color: $pink;
}


.browse-costumes {
  width: 250px;
  align-self: center;
}
.browse-costumes:hover {
  background-color: $pink;
  color: white;
  border: 1px solid $pink;
}

.main-body-home {
  background-color: white;
  height: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.main-body-home > h3 {
  margin-bottom: 20px;
}



.parallax {

  background-image: url(https://wallpapercave.com/wp/wp3696265.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .5;
}





// home page reviews


.reviews-tabs-container {
  padding: 100px 50px 100px 50px;
  background-color: white;
}

.review-pills {
  flex-wrap: nowrap;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: black!important;
    background-color: transparent!important;
}


.nav-pills .nav-link, .nav-pills .show > .nav-link {
    color: black!important;
    background-color: transparent!important;
}


.review-pills > div {
  width: 25%;
  margin: 10px;
  height: 300px;
  background-position: center;
  background-size: cover;

}

.review-pills > div:hover {
  width: 25%;
  margin: 10px;
  height: 350px;

  transition-duration: 1000ms;


}



.review-pills > div > a {
  width: 100%;
  height: 100%;
}




p.name {
  font-weight: bold;
}

p.booking_date {
  color: grey;
}


#image-1 {
  background-image: url(long-sequins.png);
  // width: 100px;
}

#image-2 {
  background-image: url(pink_dress.png);
  // width: 100px;
}
#image-3 {
  background-image: url(short_sequins.png);
  // width: 100px;
}
#image-4 {
  background-image: url(white_dress.png);
  // width: 100px;
}
