<div class="container mt-3">
  <h2 class="mb-4">Your Booking: <%= @booking.costume.costume_name %></h2>
  <p>Start Date: <%= @booking.start_date %></p>
  <p>End Date: <%= @booking.end_date %></p>
</div>
