<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <%= image_tag "beswift_black_logo.png", alt: "alttext" %>
  </a>
  <button class="navbar-toggler bg-transparent" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <!-- <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <% if user_signed_in? %>
          <a class="nav-link" href="#"></a>
          <%= link_to "Log Out", destroy_user_session_path %>
        <% end %>
      </li>

    </ul> -->





    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto list-inline">

        <% if user_signed_in? %>
        <% else  %>

          <li class="nav-item active">

            <a class="nav-link list-inline-item" href="#"></a>
            <%= link_to "Logout", destroy_user_session_path %>

          </li>

        <% end %>
        <li>
          <%= image_tag "https://avatarfiles.alphacoders.com/132/thumb-132761.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

        </li>

      </div>

      </div>
