<script>
  console.log("test");
</script>
<div class="container-fluid reviews-tabs-container">
  <h3>What our customers say</h3>

  <br>
  <br>
  <div class="row">
    <div class="col-6">
      <div class="nav  review-pills flex-row nav-pills" id="v-pills-tab" role="tablist" aria-orientation="horizontal">
        <div >
          <a id="image-1" class="nav-link active review-img" id="" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"></a>
        </div>

        <div >
          <a id="image-2" class="nav-link review-img" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
          </a>
        </div>
        <div >
          <a id="image-3" class="nav-link review-img" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">

          </a>
        </div>
        <div >
          <a id="image-4" class="nav-link review-img" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">

          </a>
        </div>

      </div>
    </div>
    <div class="col-6 d-flex align-items-center">
      <div class="tab-content align-items-center" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

          <p class="name">Veronica</p>
          <p class="booking_date">November 2019</p>
            <br>

          <p>
            Wearing this costume made me feel so special. It was such a unique experience. People stopped in the street for photos because they thought I was famous!
          </p>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
          <p class="name">Phillipa</p>
          <p class="booking_date">December 2019</p>
            <br>

          <p>My Instagram following has increased by over 10K since I started wearing these beautiful to events. I I totally recommend if you want to look hot af.</p>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
          <p class="name">Sophie</p>
          <p class="booking_date">January 2020</p>
            <br>

          <p> I had never felt so beautiful in my whole life, this is a complete game changer. If you want to be someone, you need to be Swift.</p>
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
          <p class="name">Sarah</p>
          <p class="booking_date">October 2019</p>
            <br>
          <p> I love BeSwift, super affordable fashion. I wore it to a wedding and everyone was commenting how I basically outshone the bride. </p>
        </div>
      </div>
    </div>
  </div>
</div>
