<!-- squares for the reviews -->

<div class="reviews-container container">



<div class="review-content"></div>

<!-- when the use clicks a photo -->
<!-- I display the relevant info through the id -->



</div>
