    <div class="bg">
      <div class="jumbotron jumbotron-fluid">
        <video autoplay muted loop  poster="">
          <source src="Media\eggsheader.mp4" type="video/mp4">
          <!-- <source src="Media\poached.webm" type="video/webm"> -->
       </video>
        <div id="jumboContainer" class="container">
          <h1 class="display-3">Welcome to BeSwift</h1>
          <p class="lead">The ultimate eggsperience</p>
          <p class="lead">
            <a class="btn btn-outline-light btn-lg" href="#" role="button">view our menu</a>
            <a class="btn btn-outline-light btn-lg" href="#" role="button">Book a table</a>
          </p>
        </div>
      </div>
    </div>
