<% content_for :nav, render('shared/home_navbar') %>
<div class="bg">
    <div class="jumbotron jumbotron-fluid">
        <!-- the video below doesnt have sound but 'muted' is necessary due to chrome autoplay rules -->
        <%= video_tag "beswift_hero_image.mp4",autoplay: true, loop: true, muted: 'muted', :controls => false %>
        <div id="jumboContainer" class="container">
            <h1 class="display-3 mb-5">Be<span class="txt-rotate" data-period="2000" data-rotate='[ "Savage", "Spectacular", "Splendid", "Swift" ]'></span></h1>
            <br>
            <br>
            <br>
            <%= link_to 'Browse Costumes', costumes_path, class:"btn btn-outline-light btn-lg mr-5" %>
        </div>
    </div>
</div>
<div class="container-fluid main-body-home">
</div>
<div class="parallax"></div>
<%= render "shared/reviews" %>
