.costume-card-large {
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.costume-card-small {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.7);
  border-radius: 5px;
}

.costume-card-back {
  height: 420px;
  color: $pink;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
