.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: relative;
  width: 100vw;
  // z-index: 2;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: $pink;
  opacity: .75;
  margin: 0px 8px 0px 8px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: $pink;
  // border-bottom: 1px solid black;
  opacity: 1;
}


.navbar-light .navbar-nav .active > .nav-link {
  // border-bottom: 1px solid black;
  color: $pink;
  opacity: 1;
 }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}
